@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100..900;1,100..900&family=Heebo:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Playwrite+NZ+Guides&family=Poppins:wght@300&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #fff;
    }

    span {
        color: #7444fd;
    }

    span i {
        color: #fff;
    }

    p {
        color: #9da3b4;
    }

    button {
        color: #fff;
    }

    a {
        text-decoration: none;
    }
}

body {
    background-color: #0f0a2b;
    font-family: "Manrope", sans-serif;
}

img {
    width: 100%;
    height: auto;
}


/* Container */
.box-container {
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
}



.burger{
    display: none;
}

.burger{
    display: none;
    width: 22px;
    height: 4px;
    
}

.burger span {
    display: none;
    margin-bottom: 3px;
    height: 3px;
    color: #940000;
    width: 100%;
    background-color: rgb(0, 0, 0);
}

.navigation-bar.active {
    display: flex;
}

#top1-btn{
    display: none;
}

.top-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}


.logo img {
    width: 200px;
    height: 100%;

}

.menu-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 8rem;
    gap: 2rem;
}


.menu-list li {
    list-style: none;
}

.menu-list a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #FFFFFF;
    font-weight: 600;
}

.menu-list a:hover {
    border-bottom: 2px solid #2153FF;
}

#top-btn {
    padding: 0.7rem 1.5rem;
    font-size: 1rem;
    color: #FFFFFF;
    background-color: #2153FF;
    border: none;
    border-radius: 0.2rem;
}

#top-btn:hover {
    background-color: #0F0A2B;
    border: 1px solid #2153FF;
}


/* =========blog--section========== */

.blog--hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    height: calc(100vh - 80px);
}

.blog--hero h1 {
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 700;
}
.blog--hero p {
    font-size: 1.5rem;
}


.input--container {
    position: absolute;
    left: 26.5%;
}

.input--container i {
    position: absolute;
    font-size: 1.5rem;
    left: 10px;
    bottom: 8px;
}

.input--container input {
    border-radius: .7rem;
    padding-left: 2.5rem;
    width: 50vw;
}

input {
    padding: .5rem;
    font-size: 1.2rem;
}

.latest-articles {
    display: flex;
    justify-content: center;
    gap: .5rem;
    font-size: 1rem;
    text-transform: capitalize;
    flex-wrap: wrap;
    margin-block: 4rem;
}


.latest-articles h4 {
    background: transparent;
    border: 1px solid #2153FF;
    padding: 0 1rem;
    border-radius: 1rem;
}

.latest-articles h4:hover {
    background: #2153FF;
    cursor: pointer;
}
.latest-articles  #active {
    display: flex;
    place-content: center;
    padding-top: .2rem;
    height: 30px;
    width: 40px;
    background: #2153FF;
}

/* =========blog section============ */

.blog-headline h1 {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    /* font-family: anybody, sans-serif; */
    font-size: 4rem;
}


.blog--tittle h2:hover {
    color: #2153FF;
    cursor: pointer;
}

.blog--grid {
    display: grid;
    grid-template-columns:repeat(3,1fr);
    gap: 3rem;
    padding: 3rem 1rem;
}

.blog--img img {
    border-radius: .5rem;
    transition: transform .4s;
}

.blog--img img:hover {
     transform: scale(1.1);
}

.blog--img1 {
    position: relative;
}


.blog--1 {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    gap: 1.5rem;
    background-color: #150c41;
    padding: 1.5rem;
    border-radius: 1rem;
}

.blog--1:hover {
    background-color: #3e327d;
}

.absolute-date #tittle {
    display: block;
    position: absolute;
    top: 6px;
    left: 8px;
    color: #fff;
    font-size: .8rem;

}

.absolute-date #date {
    position: absolute;
    top: 6px;
    right: 5px;
    font-size: .8rem;
    color: #fff;
    border-radius: 2rem;
    display: flex;
    place-content: center;
}

/* ===========blog1========== */

.blog--author {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.author-img img {
    width: 45px;
    border-radius: 50%;
    margin-bottom: .5rem;
    
} 

.author-info #verified {
    margin-left: .2rem;
}

.author-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
.author-info span {
    font-size: 14px;
    color: #fff;
}
.author-info i {
    font-size: .8rem;
    color: #32f532;
    margin-right: .2rem;
}

.btn {
    color: #fff;
    padding:  .5rem .4rem;
    background: transparent;
    border: 1px solid #2153FF;
    border-radius: 1rem;
    margin-bottom: .5rem;
}

.btn i {
    color: #fff;
}


.btn:hover {
    background: #2153FF;
    cursor: pointer;
}


 @media (min-width: 751px) and (max-width: 1100px) {
    .box-container {
        width: 95%;
    }

    .burger{
        display: block;
        position: absolute;
        right: 20px;
        top: 23px;
    } 
    .burger span{
        display: block;
        margin-bottom: 3px;
        height: 3px;
        color: #940000;
        width: 100%;
        background-color: rgb(255, 255, 255);
    }
    #top1-btn{
        display:block;
    }

    #top1-btn {
        padding: 0.7rem 1.5rem;
        font-size: 1rem;
        color: #FFFFFF;
        background-color: #2153FF;
        border: none;
        border-radius: 0.2rem;
    }
    
    #top1-btn:hover {
        background-color: #0F0A2B;
        border: 1px solid #2153FF;
    }

    .navigation-bar{
        display:none;
        position: fixed;
        left:0;
        right:0;
        top: 70px;
        width: 100%;
        background-color: #130080;
        justify-content: center;
        align-items: flex-start;
        padding-block: 10px;
        text-align: center;
        z-index: 1;
        height: 100vh;
       
    }
    
    .navigation-bar .menu-list a{
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .navigation-bar .menu-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .navigation-bar .menu-list .top-btn{
        margin-right: 60px;
        padding: 0.5rem 6rem;
        border: none;
        border-radius: 0.5rem;
        text-wrap: nowrap;
        background-color: #ffffff;
        color: #000000;
        font-size: 2rem;
    }
       
    
    .navigation-bar .menu-list .top-btn:hover{
        background-color: rgb(0, 18, 218);
        color: #ffffff;
    }


    .navigation-bar,
    #top-btn {
        display: none;
    }

    .blog--grid {
        grid-template-columns: repeat(2,1fr);
    }

    .burger {
        display: block;
    }

    
}






@media (min-width: 200px) and (max-width: 750px) {
    .box-container {
        width: 95%;
    }

    .top-menu {
        display: none;
    }

    .blog--hero p {
        font-size: 1rem;
    }

    .blog-headline h1 {
        font-size: 3rem;
    }

    .blog--grid {
        grid-template-columns: 1fr;
    }

    .blog--img  {
        width: 100%;
        margin: auto;
    }

    .author-img img {
        width: 40px;
    }
} 