@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100..900;1,100..900&family=Heebo:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Playwrite+NZ+Guides&family=Poppins:wght@300&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    h1,h2,h3,h4,h5,h6 {
        color: #fff;
    }
    span {
        color: #7444fd;
    }
    span i {
        color: #fff;
    }

    p {
        color: #9da3b4;
    }
    button {
        color: #fff;
    }
}

body {
    background-color: #0f0a2b;
    font-family: "Manrope", sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1110px;
    margin-inline: auto;
    overflow: hidden;
    padding: 0 1rem;
}
/* ========about ushero-tittle styele======= */
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20%;
    font-size: 4rem;
    text-transform: uppercase;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.5);
}

/* ========about us grid======= */
.about-us-grid,
.section5-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-block: 3rem;
}

/* ========about us content======= */

.aboutUs-content .pic img {
    width: 400px;
    height: 650px;
    margin-left: -2rem;
}

.aboutUs-content .pic {
    position: relative;
    padding-left: 1.5rem;
    z-index: -1;
}
.img-overlay {   
    width: 250px;
    height: 150px;
    background-color: white;
    position: absolute;
    left: 10%;
    margin-top: -9rem;
    padding: 1rem;
    border-radius: 1rem;
    animation: move 3s infinite;
}

@keyframes move {
    30% {
        left: 50px;
    }

    50% {
        right: 60px;
    }
    80% {
        right: 70px;
    }
}

/* ========about us content2,3======= */

.aboutUs-content2,
.aboutUs-content3,
.section5-content  {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    gap: 2rem;
    margin-top: 4rem;
}
.aboutUs-content2 #tittle, 
.aboutUs-content3 #tittle,
.aboutUs-section4 #tittle,
.section5-content #tittle,
.our-team #tittle,
.team-banner #tittle {
    background-color: #e6ddff;
    border-radius: 2rem;
    padding: .4rem 1rem;
}

.aboutUs-content2 #tittle img,
.aboutUs-content3 #tittle img,
.aboutUs-section4 #tittle img,
.section5-content #tittle img,
.our-team #tittle img,
.team-banner #tittle img {
    width: 15px;
    margin-left: .5rem;
}

.aboutUs-content2 h2,
.aboutUs-content3 h2,
.aboutUs-section4 h2,
.section5-content h2,
.our-team h2,
.team-banner h2 {
    font-size: 2.7rem;
    font-weight: 700;
}


.aboutUs-content2 #check-boxes {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    font-size: 1rem;
}

.aboutUs-content2 #check-boxes i {
    background-color: #1cd07a;
    border-radius: 50%;
    padding: 5px;
    margin-right: .5rem;
    margin-block: .5rem;
}


.btn {
    background-color: transparent;
   padding: 1rem 3rem;
   border-radius: 2rem;
   border: none;
   font-size: 1rem; 
   transition:  2s all ease-in-out;
   overflow: hidden;
   position: relative;
}

.btn:hover{
    background-color: black;
    color: #fff;
 
    
}
.btn::before {
    content: "";
    position: absolute;
    width: 400px;
    height: 400px;
    left: -120px;
    top: -270px;
    border-radius: 45%;
    background-color: #7444fd;
    transition: .9s all ease-in-out;
    z-index: -1;
}


.btn:hover::before{
    top: -450px; 
}


/* =========more on section3========= */

.aboutUs-content .pic-2 img {
    width: 500px;
    border-radius: 1rem;
}

.aboutUs-content .pic-2 {
    margin-top: 10rem;
    position: relative;
}

.img-overlay-1 {   
    width: 200px;
    background-color: white;
    position: absolute;
    right: 0;
    top: 5px;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    animation: back-and-forth 3s infinite alternate;
}

@keyframes back-and-forth {
    
    50% {
         translate:  30%;
    }
}

.img-overlay-2 {   
    width: 200px;
    background-color: white;
    position: absolute;
    left: -5%;
    bottom: 0;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    animation: floatUpDown 3s infinite alternate;
}

@keyframes floatUpDown {
    50% {
        transform:  translateY(30%);
    }
}
   
.aboutUs-dis #icons {
    width: 100px;
}


.aboutUs-dis {
    display: flex;
    align-items: center;
    gap: 1rem;

    
}
.aboutUs-info {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

/* ============section4================= */

.aboutUs-section4,
.our-team,
.team-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 5rem;
}

.section4-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-block: 3rem;
}

.aboutUs-section4 h2,
.our-team h2,
.team-banner h2 {
    text-align: center;
    margin-bottom: 4rem;
}

.boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

.boxes span {
    background-color: #e6ddff;
    border-radius: 2rem;
    padding: 0 1rem;
    text-transform: uppercase;
    font-weight: 700;
}


#section4-bg {
    margin-top: 5rem;
}

.box1 {
    margin-top: -17rem
}
.box2 {
    margin-top: -10rem;
}
.box3 {
   margin-top: -17rem;
}

/* ============section5================= */

.counter  {
   display: flex;
   gap: 2rem;
}

.counter .counter-box {
    display: flex;
    flex-direction: column;
}

.counter #counter-number {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
}
.counter #counter-info{
    font-size: 1rem;
    color: #9da3b4;
}

.section5-content1 .pic3 img {
    width: 450px;
    height: 560px;
    margin-left: 5rem;
    position: relative;
}

.section5-content1 .img-overlay-3 {
    margin-top: -36rem;
    margin-left: 2rem;
    position: absolute;
    background: linear-gradient(rgba(58, 25, 109, 0.5), rgba(77, 174, 58, 0.5));
    width: 180px;
    padding: 4rem 2rem 1rem;
    border-radius: 1rem;
    animation: floatUpDown 3s infinite;
}
.overlay-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 33%;
}

.overlay-tittle {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    top: 6%;
    margin-inline: -5%;
}

#overlay-heading {
    font-size: .7rem;
    color: #fff;
}
#overlay-counter {
    font-size: 1rem;
    color: #fff;
}



/* ==========ourteam section6========= */

.our-team-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    margin-block: 4rem;
}

.teams img {
    width: 220px;
    border-radius: 50%;
}

.teams {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: .5rem;
}

.team-info {
    margin-top: 1.5em;
}

.team-smlinks {
    display: flex;
    gap: 1rem;
}

.team-smlinks i,
.personal-links i {
    color: #1cd07a;
}

.team-smlinks i:hover,
.personal-links i:hover {
    color: orange;
}

/* ===============section7 team details============== */
.team-details {
    display: flex;
    gap: 2rem;
    margin-block: 5rem
}

.team-details #img {
   max-width: 350px; 
   border-radius: 2rem;                                               
}

.team-dis {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.signature img {
    background-color: #c9bbbb;
    width: 91px;
    height: 51px;
} 

.personal-info {
    display: flex;
    justify-content: space-between;
}

.personal-tittle {
    font-size: 1.3rem;
    text-align: center;
}

.personal-links {
    display: flex;
    gap: 1.5rem;
}

.team-dis p {
    line-height: 2.5rem;
}

.personal-contact {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    cursor: pointer;
}

.personal-contact span {
    color: #fff;
}

.personal-contact i,
.personal-tittle i  {
    margin-right: 1rem;
    color: #1cd07a;
}

/* ===========section8 personal dis======== */
.personal-dis {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin-block: 4rem;
}
.personal-dis h2 {
    margin-bottom: 1rem;
}


.personalSkills li {
  list-style: none;
  padding: 1rem;
}

.personalSkills span {
    color: #fff;
    font-size: 1rem;
}

.personalSkills #skill-tittle {
    margin-left: .5rem;
}

.personalSkills #skill-rate {
    margin-left: 30rem;
}

#skill-rate3 {
    margin-left: 28rem;
}

.bar {
    display: block;
    background-color: #3c507c;
    height: 1.2rem;
    margin-top: .5rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 2rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
}

.bar:hover {
    box-shadow: 0 14px 28px rgba(197, 240, 6, 0.25), 0 10px 10px rgba(4, 135, 12, 0.22);
}    
.bar span {
    height: 20px;
    float:left ;
    background: linear-gradient(135deg, rgba(236, 0, 140, 1)0%, rgba(252, 103, 103, 1)100%);
    border-radius: 1rem;
}

.Html {
    width: 90%;
    animation: Html 3s;
}

.Css {
    width: 70%;
    animation: Css 3s;
}

.javascript {
    width: 40%;
    animation: javascript 3s;
}

.React {
    width: 60%;
    animation: React 3s;
}






/* ========tablet media query======== */

@media  (max-width: 768px) {

    /* =========about-page========== */

.aboutus-tittle h1 {
    font-size: 3rem;
}

.aboutUs-content .pic img {
    margin: 0;
}
.about-us-grid,
.section5-grid,
.our-team-grid {
    grid-template-columns: 1fr;
}

/* ===========aboutUs-content2 pic========== */
.img-overlay-1 {   
    width: 200px;
    background-color: white;
    position: absolute;
    right: 20%;
    top: 5px;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    animation: back-and-forth 3s infinite alternate;
}
/* =============aboutUs-content3 pic2 */

@keyframes back-and-forth {
    
    50% {
        translate:  40%;
    }   
}
/* ===========section4======= */
.aboutUs-section4 h2 {
    font-size: 2.2rem;
}

#section4-bg img {
    display: none;
}


.section4-grid {
    grid-template-columns: 1fr;
    margin-top: -5rem;
}

/* ===========section5 ourteam=========== */

.boxes,
.teams,
.teams img,
.team-info,
.team-smlinks {
    margin:  0;
}

.counter {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin: auto;
}

.section5-content1 .pic3 {
    margin-right: 4rem;
}

/* ==============team details============= */
.team-details {
    flex-direction: column;
}

.team-details #img {
    margin: auto;
    width: 100%;
}

.team-details .personal-info {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.personal-links {
    gap: .5rem;
}

.personal-contact {
    flex-direction: column;
    gap: 1rem;
    font-size: 1.5rem;
}


    
}



@media  (max-width: 480px) {

    /* =========about-page========== */

    .aboutus-tittle h1 {
        font-size: 2rem;
    }
    .about-us-grid {
        grid-template-columns: 1fr;
    }
/* =============aboutUs-content3 pic2 */
    .img-overlay-1, 
    .img-overlay-2 {   
        width: 150px;   
    }
/* ===========section4=======  */
    .aboutUs-section4 h2 {
        font-size: 1.7rem;
    }


    /* ==========section5 our team =============== */

    .section5-content1 .img-overlay-3  {
        margin-left: 0;
    }

    /* ==========team details======== */
    .personal-contact {
        font-size: 1rem;
    }




}
    

