@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100..900;1,100..900&family=Heebo:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Playwrite+NZ+Guides&family=Poppins:wght@300&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #121d4f;
    font-family: "Manrope", sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1110px;
    margin-inline: auto;
    overflow: hidden;
    padding: 0 1rem;
}


h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20%;
    color: #fff;
    font-size: 4rem;
    text-transform: uppercase;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.5);
}



