@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100..900;1,100..900&family=Heebo:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Playwrite+NZ+Guides&family=Poppins:wght@300&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #121d4f;
    font-family: "Manrope", sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1110px;
    margin-inline: auto;
    overflow: hidden;
    padding: 0 1rem;
}
/* ========about ushero-tittle styele======= */
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20%;
    color: #fff;
    font-size: 4rem;
    text-transform: uppercase;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.5);
}

/* ========about us grid======= */
.about-us-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-block: 3rem;
}

/* ========about us content======= */

.aboutUs-content .pic img {
    width: 400px;
    height: 700px;
}

.aboutUs-content .pic {
    position: relative;
    padding-left: 1.5rem;
    z-index: -1;
}
.img-overlay {   
    width: 250px;
    height: 150px;
    background-color: white;
    position: absolute;
    left: 10%;
    margin-top: -9rem;
    padding: 1rem;
    border-radius: 1rem;
    animation: move 3s infinite;
}

@keyframes move {
    30% {
        left: 50px;
    }

    50% {
        right: 60px;
    }
    80% {
        right: 70px;
    }
}

/* ========about us content2,3======= */

.aboutUs-content2,
.aboutUs-content3  {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    gap: 2rem;
    color: #fff;
    margin-top: 4rem;
}
.aboutUs-content2 #tittle, 
.aboutUs-content3 #tittle {
    background-color: #e6ddff;
    color: #7444fd;
    border-radius: 2rem;
    padding: .4rem 1rem;
}

.aboutUs-content2 #tittle img,
.aboutUs-content3 #tittle img {
    width: 15px;
    margin-left: .5rem;
}

.aboutUs-content2 h2,
.aboutUs-content3 h2 {
    font-size: 2.7rem;
    fonr-weight: 700;
}

.aboutUs-content2 p, 
.aboutUs-content3 p {
    color: #e6ddff;
}

.aboutUs-content2 #check-boxes {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    font-size: 1rem;
}

.aboutUs-content2 #check-boxes i {
    background-color: #1cd07a;
    border-radius: 50%;
    padding: 5px;
    margin-right: .5rem;
    margin-block: .5rem;
}


.btn {
    background-color: transparent;
   padding: 1rem 3rem;
   border-radius: 2rem;
   border: none;
   color: #fff;
   font-size: 1rem; 
   transition:  2s all ease-in-out;
   overflow: hidden;
   position: relative;
}

.btn:hover{
    background-color: black;
    color: #fff;
 
    
}
.btn::before {
    content: "";
    position: absolute;
    width: 400px;
    height: 400px;
    left: -120px;
    top: -270px;
    border-radius: 45%;
    background-color: #7444fd;
    transition: .9s all ease-in-out;
    z-index: -1;
}


.btn:hover::before{
    top: -450px; 
}

/* @keyframes wave {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 360deg;
    }
} */

/* =========more on section3========= */


.aboutUs-content .pic-2 img {
    width: 500px;
    border-radius: 1rem;
}

.aboutUs-content .pic-2 {
    margin-top: 10rem;
    padding: 0 ;
    position: relative;
}

.img-overlay-1 {   
    width: 200px;
    background-color: white;
    position: absolute;
    right: 0;
    top: 5px;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    animation: back-and-forth 3s infinite alternate;
}

@keyframes back-and-forth {
    
    50% {
        translate:  30%;
    }
}

.img-overlay-2 {   
    width: 200px;
    background-color: white;
    position: absolute;
    left: 0;
    bottom: 5px;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    animation: top-and-bottom 3s infinite alternate;
}

@keyframes top-and-bottom {
    
    50% {
        translate:  30%;
    }
}   
.aboutUs-dis #icons {
    width: 100px;
}


.aboutUs-dis {
    display: flex;
    align-items: center;
    gap: 1rem;

    
}
.aboutUs-info {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
/* ========tablet media query======== */

@media  (max-width: 768px) {

    /* =========about-page========== */

    .aboutus-tittle h1 {
        font-size: 3rem;
    }
    .about-us-grid {
        grid-template-columns: 1fr;
    }

    
    }

    
    


@media  (max-width: 480px) {

    /* =========about-page========== */

    .aboutus-tittle h1 {
        font-size: 2rem;
    }
    .about-us-grid {
        grid-template-columns: 1fr;
    }
/* =============aboutUs-content3 pic2 */
    .img-overlay-1 {   
        width: 150px;
        background-color: #dee4d8;
        
    }
    
}
    

